<link rel="stylesheet" href="../css/styles.css">
{{>header}}
<img src="/img/me.jpg">
<p class='h'>Hey! My name is Jatin Agrawal.I'm a future Software Engineer.This is the 1st ever site I deployed on Internet.</p>
<p class="h">Thank You For Visiting. Cheers!</p>
{{>footer}}