<link rel="stylesheet" href="../css/styles.css">
{{>header}}
<p class="h">This a Weather Application!</p>
<form id="gg">
    <input type="text" placeholder="Location">
    <button type="submit">Submit</button>
    <p id="m1"></p>
    <p id="m2"></p>
</form>
{{>footer}}
<script src="../js/script.js"></script>